.section-where {
    color: white;
    background: #757579;
    padding-bottom: 50px;
    padding-top: 66px;
}

.where-title {
    font-family: Italiana;
    font-size: 48px;
    font-weight: 400;
    padding-top: 50px;
    padding-bottom: 44px;
}

.where-box {
    display: flex;
}

.map {
    border-radius: 8%;
    margin-bottom: 50px;
}

.where-sub {
    font-size: 40px;
    font-weight: 400;
    padding-left: 132px;
    padding-bottom: 49px;
}

.links {
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
}

.links:hover {
    color: #a497a3;
}

.where-time {
    text-align: center;
    font-size: 24px;
    font-weight: 200;
}

.where-link {
    padding-bottom: 65px;
    padding-left: 132px;
}

.where-item {
    padding-top: 10px;
    padding-left: 132px;
    padding-bottom: 30px;
}

.where-time {
    padding-left: 110px;
}
